.dropdown {
   width: 27rem;
   height: 3.1rem;
   font-size: 1.3rem;
   color: rgb(115, 115, 115);
   background-color: transparent;
   border-radius: 4px;
   border: 1px solid rgb(190, 189, 189);
}
