@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', serif;
  font-weight: lighter;
  background-image: linear-gradient(
    to top right,
    white,
    #b4eeb9,
    #7FB685,
    #62b86b,
    #488b4f
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-name {
  padding-left: 32px;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  border: 1px silver solid;
  border-radius: 8px;
  -webkit-box-shadow: 12px 12px 38px -13px #000000;
  box-shadow: 12px 12px 38px -13px #000000;
}

.list-controls {
  background-color: white;
  display: flex;
  align-items: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width:90%;
  justify-content: space-between;
  padding-left: 32px;
}

.list-controls #list-item-input {
  width: 80%;
  height: 30px;
  font-size: 16px;
  padding-left: 8px;
}


.list-controls #list-item-input:focus{
background-color: #f2c57c98;
outline: 0 none;
border:1px solid #f2c57c ;
}


.list-controls #list-item-submit {
  color: white;
  background-color: #f2c57c;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  height: 35px;
  width: 35px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
}

.list-controls #list-item-submit:hover {
  background-color: white;
  color: #f2c57c;
  border: 1px solid #f2c57c;
  transition: background-color 0.2s ease-in-out;
}

#list {
  list-style-type: none;
  padding: 0px 30px;
  min-height:300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-item {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.list-item h4{
  margin: 0px;
  width:200px;
  font-weight: 300;
  overflow: hidden;
}

.list-item:hover {
  color: #EF6F6C;
  transition: color 0.2s ease-in-out;
}

.list-item:not(:last-of-type) {
  border-bottom: 1px #bbb5b5 solid;
}

.list-item-delete-button {
  margin-left: auto;
  padding: 4px 8px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.list-item-delete-button:hover {
  background-color: #ddae7e7a;
  transition: background-color 0.2s ease-in-out;
}
