* {
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
  font-family:"Franklin Gothic Medium";
}

.style {
  padding: 45px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, lightblue, rgb(45, 111, 133));
}
  input[type=text] {
    padding-left: 15px;
    width: 79%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }

#footer {
  display: inline; 
  width: 80px;
  height: 90px;
}
#footer #h3 {
    font-size: 4px;
     margin :30px;
  }
#buttonClearAll {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    padding: 6px 18px;
    pointer-events: none;
    opacity: 0;
  }  
#buttonClearAll.hover,
#buttonClearAll.focus {
    background-color: #07c;
    pointer-events: auto;

  }
  
#buttonClearAll.focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
    pointer-events: auto;
  }
  
#buttonClearAll.active {
    box-shadow: none;
    opacity: 1;
    pointer-events: auto;
    align-items: right;
    margin :10px;
  }
     
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 85%;
    margin: auto;
    width: 30%;
    border: 3px solid rgb(0, 62, 128);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    overflow: clip;
  
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card #buttonAdd {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .card #buttonAdd:hover,
  .card #buttonAdd:focus {
    background-color: #07c;
  }
  
  .card #buttonAdd:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
.todo{
    background-color: #c5e1e6;
    height: 50px;
      margin-bottom: 8px;
    padding: 5px 10px;
      border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    width: 90%;
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
    word-break: break-all;
    overflow: auto;
    overflow: hidden;
    animation: slideInRight;
    animation-duration: 0.5s;
}
.todo span{
  display: block;
  max-width: 2200px;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  opacity: 1;
}
 
.todo:hover,
.todo:focus {
  background-color: #7cafb8;
  opacity: 1;
  animation: slideInRight;
  animation-duration: 0.5s;
}

.todo:focus {
  box-shadow: 0 0 0 4px rgba(167, 207, 236, 0.15);
}

.todo:hover .delete{
  opacity: 1;
  animation: slideInRight;
  animation-duration: 0.5s;
}

.todo .delete {
  background-color: #0095ff;
   border: 1px solid transparent;
   border-radius: 3px;
   box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   font-size: 13px;
   font-weight: 400;
   line-height: 1.15385;
   margin: 0;
   outline: none;
   padding: 10px;
   position: relative;
   text-align: center;
   text-decoration: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: baseline;
   white-space: nowrap;
   float: right;
   opacity: 0;
 }
 
 .todo .delete:hover,
 .delete:focus {
   background-color: #07c;
   opacity: 1;
 }
 
 .todo .delete:focus {
   box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
   opacity: 1;
 }
.newToDo {
    display: inline-block;
    width: 10%;
    text-align: center;
}

