@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

* {
  margin: 0
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #515151;
  height: 100vh;
  font-family: sans-serif;
}

.app {
  width: 60%;
}

@media (max-width:768px) {
  .app {
    width: 90%;
  }
}
footer{
  justify-content: center;
  background-color: #5c3a67;
}
h3{
  position: relative;
  font-family: "Rajdhani", sans-serif;
  color: #a57cc4;
}
.app h1 {
  color: white;
  font-size: 40px;
  padding: 10px 0;
  text-align: center;
  border-radius: .5rem .5rem 0 0;
  background-color: #5b2f77;
  font-family: "Rajdhani", sans-serif;
}

.app form {
  display: flex;
  width: 100%;
  background-color: #a57cc4;
}

.app form input {
  border: none;
  background-color: #56265c;
  font-size: 18px;
  color: white;
  padding: 10px;
  width: 90%;
}

.app form button {
  border: none;
  cursor: pointer;
  color: white;
  background-color: #1dd2af;
  font-size: 25px;
  font-weight: 600;
  height: 42px;
  width: 10%;
}
.app form button :hover{
  transition: all 0.3 ease;
  background-color: #f3f3f3;
}
.app ul {
  list-style: none;
  color: #e0e0e0;
  padding: 0;
  
}

.app ul li {
  padding: 10px;
  background-color: #280e36;
  border-bottom: 1px solid #5c3a67;
  color: #e0e0e0;
}

.fa-check {
  width: 0.8em;
  border: none;
  color: #1dd2af;
  height: 0.8em;
  cursor: pointer;
  border-radius: 50%;
  background-color: none;
  /* border: 1px solid rgb(255, 255, 255); */
  -webkit-appearance: none;
}

.check:checked {
  background-color: #1dd2af;
}

.task {
  font-size: 18px;
  padding: 0 10px;
  width: fit-content;
  background: transparent;
  border: none;
  color: #fff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.task:focus {
  outline: none;
}

.app ul li i {
  float: right;
  margin-left: 32px;
  cursor: pointer;
}
.date{
  font-size: 0.6rem;
  float: right;
}
.app ul li i:hover {
  color: rgb(255, 82, 82);
}

.completed {
  color: rgba(0, 255, 110, 0.8);
  text-decoration: line-through;
}


#toast {
  visibility: hidden;
  max-width: 500px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color:  #fda085;
  color: #fff;
  text-align: center;
  
  border-radius: 3px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  top: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img{
width: 50px;
height: 50px;
  
  float: left;
  
  padding-top: 16px;
  padding-bottom: 16px;
  
  box-sizing: border-box;
  border-radius: 3px;
  
  background-color: rgb(231, 33, 33);

}
#toast #desc{

  
  color: #fff;
 
  padding: 16px;
  
  overflow: hidden; 
white-space: nowrap;
}

#toast.show {
  visibility: visible;
 /*  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s; */
  animation: fadein 0.5s,  fadeout 0.5s 2s;
}

@-webkit-keyframes fadein {
  from {top: 15; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 15; opacity: 0;}
  to {top: 30px; opacity: 1;}
}



@-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}




@-webkit-keyframes fadeout {
  from {top: 15px; opacity: 1;} 
  to {top: 30px; opacity: 0;}
}

@keyframes fadeout {
  from {top: 15px; opacity: 1;}
  to {top: 30px; opacity: 0;}
}