
.add-task-action
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.task-input
{
    padding: 0.4rem;
    font-size: 1.2rem;
    border: none;
    margin-right: 25px;
    margin-left: 15px;
    width: 260px;
    text-align: center;
    background: rgba(255, 255, 255, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);
    border: 1px solid rgba(255, 255, 255, 0.35);
  }


  .button-add{
    width: 3rem;  
    padding: 0.3rem 0.3rem;
    font-size: 1.2rem;
    border: 0;
    cursor: pointer;
    color : #666;

    background: rgba(214,224,255,1, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(214,224,255,1, 0.04);
  }

  .button-add:hover{
    color: black;
    background: rgba(214,224,255,1, 0.28);
    border: 1px solid rgba(214,224,255,1, 0.04);
    transition: ease-in-out 0.3s;
  }

