* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

html,
body {
    background: #4d244e;
    border-top: 5px solid #aa8e8d;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #aa8e8d;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #aa8e8d;
    color: white;
}

form button {
    color: #aa8e8d;
    background: #6d335c;
    cursor: pointer;
}

.trash-btn:hover {
    background: #aa8e8d;
    color: #6d335c;
}

.complete-btn:hover {
    background: #aa8e8d;
    color: #6d335c;
}

form button:hover {
    background: #aa8e8d;
    color: #6d335c;
}

.todo-container {
    display: flex;
    justify-self: center;
    align-items: center;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%
}

.todo {
    margin: o.5rem;
    background: #aa8e8d;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    color: aliceblue;
}

.todo li{
    flex: 1;
    display: list-item;
}

.trash-btn, 
.complete-btn {
    background: #6d335c;
    color: #aa8e8d;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: o;
}