html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    background: #4d244e;
    font-family: sans-serif;
    border-top: 5px solid #aa8e8d;
}

h1 {
    color: #aa8e8d;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

form input, form button {
    padding: center;
    font-size: 2rem;
    border: 3px;
    background: #aa8e8d;
    text-align: center;
}

form button {
    color: #aa8e8d;
    background: #6d335c;
    cursor: pointer;
    transition: all o.3s ease;
}
form button:hover {
    background: #aa8e8d;
    color: #6d335c;
}

.todo-container {
    display: flex;
    justify-self: center;
    align-items: center;
}