.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }
  
  .app-wrapper{
    min-height: 80vh;
    min-width: 30vw;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px;

        /* From https://css.glass */
    background: rgba(255, 255, 255, 0.53);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  input
  {
      border-radius: 3px;
      border: none;
      border-bottom: 5px solid transparent;
      transition: all 0.2s;
  }
  
  
  input:focus
  {
      border-bottom: rgba(214,224,255,1) solid 3px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }