
.list-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50%;
    background-color: rgb(219, 105, 5);
    border: 1px silver solid;
    border-radius: 8px;
    -webkit-box-shadow: 12px 12px 38px -13px #000000;
    box-shadow: 12px 12px 38px -13px #000000;
}
.todos{
    padding:0;
    margin-top: 15px;
    margin-bottom: 10px;
    
}