.list-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    background-color: white;
    border: 1px silver solid;
    border-radius: 8px;
    -webkit-box-shadow: 12px 12px 38px -13px #000000;
    box-shadow: 12px 12px 38px -13px #000000;
}