@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");




.list-controls{
  display: flex
}
.taskInput {
    width: 84%;
    padding: 15px 10px;
    color:rgb(62, 62, 62);
    font-weight: bold;
    outline: none;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    border-color: rgb(155, 155, 155);
    border-radius: 5.5px;
    border: 3px solid rgb(255, 141, 34);
    
  }
  #add-button {
    width: 15%;
    height: 55px;
    padding: 14px 0px;
    cursor: pointer;
    background-color: #ee9300;
    color: #fff;
    outline: none;
    font-size: 30px;
    transition: width 0.5s;
    

  }
  #add-button:hover {
    width: 150px;
    transform:rotate();
    background-color: #00e760;
  }
  #add-button ::after{
    width: 15%;
    height: 55px;
    padding: 14px 0px;
    cursor: pointer;
    background-color: #ee9300;
    color: #fff;
    outline: none;
    font-size: 30px;
    transition: width 0.5s
  }
  .addButton:active .task {
    transition: 2s ease;
  }