<<<<<<< HEAD
.task_container {
=======
.tasks_container {
>>>>>>> main
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin: 15px 0;
  height: 100%;
  overflow: auto;
}
