
.new-item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  margin-bottom: 5px;
  margin-bottom: 15px;
  background-color: #f69731;
  padding-left: 10px;
  
  border-radius: 3px;
  height: 40px;
  align-items: center;
  animation: new-item-animation 0.3s linear forwards;
}
.new-item:hover{
  background-color: #f2c28f;
  cursor: pointer;
  visibility: visible;
}

img{
  width: 70px;
  height: 50px;
  margin-bottom: 0%;
  margin-left: 30%;
  }
  .items{
    display: flex;
    color: #f2c28f;
    align-items: center;
    
  }
  .inputText{
    padding: 0;
    font-size: medium;
    font-weight:600;
    background-color: #f69731;
    outline: none;
    border: none;
  }

  .deleteButton{
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
    background-color: inherit;
  }
  .deleteButton:hover{
    cursor: pointer;
    background-color: rgb(242, 33, 33);

  }
  .editButton{
    margin-right: 10px;
    font-size: 1.2rem;
    margin-left: 3px;
    border: none;
    border-radius: 3px;
    background-color: inherit;
   
  }
  .editButton:hover{
    cursor: pointer;
    background-color: aquamarine;
  }
  .saveIcon{
    margin-right: 10px;
    margin-left: 3px;
    font-size: 1.2rem;
    border-radius: 3px;
    background-color: inherit;
  }

  .saveIcon:hover{
    cursor: pointer;
    background-color: aquamarine;
  }