.alert
{
    background: #ffbd95;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 10px;
    border-radius: 5px;
    border-left: 8px solid #ffa502;
    overflow: hidden;
    z-index: 2;
}

.alert.show
{
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide
{
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10%);
    }
}

.alert.hide
{
    display: none;
}


.alert .fa-circle-exclamation
{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 2rem;
}

.alert-msg
{
    padding: 0 20px;
    font-size: 1.2rem;
    color: #ce8500;
}

.alert-close-btn
{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffa502;
    padding: 23px 20px;
    cursor: pointer;
}

.alert-close-btn:hover
{
    background: #ffc766;
}

.alert-close-btn .fa-times
{
    color: #ce8500;
    font-size: 1.5rem;
}