@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}



.container
{
    min-height: 80vh;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #fff;
    position: absolute;

}

.container h1
{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}


.container input, .container .btn
{
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.addTask
{
    display: flex;
    align-items: left;
    width: 100%;
}

.task-input
{
    width: 95%;
    text-align: center;
    margin-right: 0.5rem;
}

.container .btn
{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.container .btn:hover
{
    color: black;
}


input
{
    border-radius: 3px;
    border: none;
    border-bottom: 5px solid transparent;
    transition: all 0.2s;
}


input:focus
{
    outline: none;
    border-bottom: #D9AFD9 solid 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) ;
}


.actions
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}



select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select
{
    margin: 1rem;
    position: relative;
}


select
{
    cursor: pointer;
    padding: 0.75rem;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);

}
.select::after
{
    content: "\25BC";
    color: white;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.58rem;
    pointer-events: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-out;

}

.select:hover::after
{
    color: black;   
}



.footer
{
    position: absolute;
    bottom: 0;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.8rem;
}
.footer i
{
    font-size: 1rem;
    color: red;
}



.search
{
    margin: 1rem;
}

.search i {
    position: absolute;
    margin-top: 0.25rem;
}
 

.search-icon {
    padding: 10px;
    min-width: 1.5rem;
}
 
#search-input {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}




  