.empty-msg
{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 500;
    color: #aaa;
    text-transform: uppercase;
    animation: fade-in 0.5s linear;
    position: relative;
    top: 3rem;
    
}

@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }

.empty-msg i
{
    font-size: 2rem;
    margin-bottom: 20px;
}

.empty-msg.hide
{
    display: none;
    animation: fade-out 0.5s ease-out;
}

@keyframes fade-out {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }