.tasksContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks-list
{
    margin-top: 20px;
    list-style: none;
    min-width: 30%;
}

.task
{
    margin: 0.5rem;
    background: #eee;
    color: black;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.15rem;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-out;
    animation: fade-in 0.7s ease-out;
}


.task p
{
    flex: 1;
    pointer-events: none;

}

.task button
{
    background: transparent;
    border: none;
    color: #D9AFD9;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s;
}

.task-complete-btn, .task-remove-btn
{
    background-color: #D9AFD9;
    color: white;
    padding: 0.2rem;
    cursor: pointer;
    font-size: 0.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    opacity: 1;
}


.task-complete-btn.hide, .task-remove-btn.hide
{
    opacity: 0;
}

#remove-all-btn.hide
{
    display: none;
}

.fa-trash, .fa-check
{
    pointer-events: none;
}

.task-complete-btn
{
    margin-left: 50px;
    margin-right: 10px;
}

.task-complete-btn:hover
{
    color: greenyellow;
}

.task-remove-btn:hover
{
    color: red;
}

#remove-all-btn
{
    margin-top: 5rem;
    padding: 0.3rem;
    font-size: 1rem;
    position: relative;
    bottom: 1.5rem;   
}

.task-complete-btn.btn-completed
{
    color: greenyellow;  
}

.task-completed
{
    text-decoration: line-through;
    color: #aaa;
    opacity: 0.5;
    transition: all 0.5s ease-out;
}

.task.task-removed
{
    transform: translateY(6rem) rotateZ(15deg);
    opacity: 0;
}


.task:hover
{
    background: #f4f4f4f4;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.grip-lines-icon
{
    position: relative;
    right: 0;
    top: 0;
    padding: 0 1rem;
    cursor: pointer;
}


[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }

  button > i {
    pointer-events: none;
} 

