.data-row-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.data-row-item-title
{
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.data-row-item-title i
{
    font-size: 1.2em;
    margin-right: 0.5em;
}

.data-row-item-value
{
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}