.app-window {
  color: var(--very-dark-green);
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
  border-radius: 8px;
  box-shadow: 5px 10px 18px gray;
}

.app-title {
  font-family: 'Caveat', cursive;
  text-align: center;
  margin: 0px;
  padding-top: 20px;
}

.todo-content {
  padding: 20px;
  font-size: 24px;
}

.add-item-animation {
  animation: change-color 1s linear;
}

@keyframes change-color {
  0% {
    background: rgba(128, 128, 128, 0.8);
  }
  100% {
    background: rgba(128, 128, 128, 0.2);
  }
}

.delete-item-animation {
  color: antiquewhite;
  animation: deleting-color 1s ease-out;
}

@keyframes deleting-color {
  0% {
    background: brown;
  }
  100% {
    background: antiquewhite;
  }
}

.todo-text {
  padding: 5px;
  width: 90%;
}
