@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  color: #ffff;
  background: rgb(142, 73, 232);
}

body {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  padding: 10px;
  /* background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%); */
  background-image: linear-gradient(120deg, #f6d365, #fda085);
}

header {
  text-align: center;
}
.wrapper {
  background: #fff;
  max-width: 500px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper header {
  font-size: 30px;
  font-weight: 600;
}

.wrapper .inputField {
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}

.inputField input {
  width: 100%;
  height: 100%;
  outline: none;

  border-radius: 3px;
  border: 1px solid;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;

  animation: ring 2s linear infinite;
}

.inputField input:focus {
  border-color: #e29624;
}

.inputField input.inactive {
  animation: ring 0.2s;
}

.svg {
  width: 200px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0px;
  left: 0px;

  top: 10px;

  pointer-events: none;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #ff0000;
  }
  50% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #ff7300;
  }

  100% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #fda085;
  }
}



.inputField button {
  width: 50px;
  height: 100%;
  border: none;
  color: white;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  /* background: #8e49e8; */
  background: #e29624;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  /*  pointer-events: none; */

  animation: ring 2s linear infinite;
}
.inputField button.active {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s ease;
}

.inputField button.active {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s ease;
}

.inputField button.inactive {
  animation: none;
}

.inputField button:hover {
  animation: none;
  opacity: 1;
}

.wrapper .todoList {
  max-height: 500px;
  /* overflow-y: auto;  */
}

.todoList li {
  position: relative;
  list-style: none;
  margin-bottom: 8px;

  height: 45px;
  line-height: 45px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0px 10px;
  
  overflow: hidden;
  cursor: pointer;
}

.todoList li .trash-btn {
  position: absolute;
  /* right: -45px; */
  height: 45px;
  right: 0px;
  color: #fff;
  width: 45px;
  text-align: center;
  background: #e74c3c;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.6;
  border-style: none;
}
.todoList li .trash-btn:hover {
  opacity: 1;
  transition: all 0.3s ease;
}


.todoList span:hover {
  right: 0px;
  opacity: 1;
}

.todoList .fa-check:hover {
  right: 0px;
  opacity: 1;
}

/* #list-element li{
  cursor: pointer;
  pointer-events: auto;
} */

.wrapper .footer {
  display: flex;
  width: 100%;
  margin-top: 25px;
  justify-content: space-between;
  align-items: center;
}

.footer .sortBtn {
  border: none;
  color: #fff;
  margin-right: -3px;
  font-size: 15px;
  outline: none;
  background: #e29624;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 10px;
  opacity: 0.6;
 /*  display: none; */
  /*  pointer-events: none; */
}

.footer .sortBtn.deactive {
    display: none;
}
 .footer span.deactive {
    display: none;
} 


.footer .sortBtn:hover {
  opacity: 1;
  transition: all 0.3s ease;
}

.footer2 .clearAllBtn {
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 16px;
  outline: none;
  background: #e74c3c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 10px;
  opacity: 0.6;
 /*  display: none; */
  /* pointer-events: none; */
}

.footer2 .clearAllBtn.deactive {
    display: none;
   } 

.footer2 .clearAllBtn:hover {
  opacity: 1;
  transition: all 0.3s ease;
}

.footer2 {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-top: 25px;
  
  align-items: center;
}


.footer2 .clearAllBtn:hover {
  filter: brightness(90%);
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
  color: #fda085;

  transition: all 1s ease;
}

.fa-trash {
  pointer-events: none;
}

.inputField button {
  width: 50px;
  height: 45px;
  border: none;
  outline: none;
  color: #fff;
  background: #e29624;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.inputField button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    /* #48ff00, #00ffd5,  #002bff, #7a00ff, #ff00c8 */ #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
 @keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
} 
/* .inputField button :active {
  color: #e29624;
} */

.inputField button:active:after {
  background: transparent;
}

.inputField button:hover:before {
  opacity: 1;
}

.inputField button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e29624;
  left: 0;
  top: 0;
  border-radius: 10px;
}


#toast {
  visibility: hidden;
  max-width: 500px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #fda085;
  color: #fff;
  text-align: center;

  border-radius: 3px;

  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img {
  width: 50px;
  height: 50px;

  float: left;

  padding-top: 16px;
  padding-bottom: 16px;

  box-sizing: border-box;
  border-radius: 3px;

  background-color: rgb(231, 33, 33);
}
#toast #desc {
  color: #fff;

  padding: 16px;

  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  /*  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s; */
  animation: fadein 0.5s, fadeout 0.5s 2s;
}

#alertListElement{
    visibility: hidden;
    max-width: 500px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #ffa722;
    color: #fff;
    text-align: center;
  
    border-radius: 3px;
  
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 30px;
    font-size: 17px;
    white-space: nowrap;
  }
  
  
  #alertListElement.show {
    visibility: visible;
    /*  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s; */
    animation: fadein 0.5s, fadeout 0.5s 2s;
  }

@-webkit-keyframes fadein {
  from {
    top: 15;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 15;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 15px;
    opacity: 1;
  }
  to {
    top: 30px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 15px;
    opacity: 1;
  }
  to {
    top: 30px;
    opacity: 0;
  }
}
