*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
}

body{
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    color: #FFF;
}

#container{
    margin: auto;
    border-radius: 10px;
    background-color: #FFF;
    width: 50vw;
    height:70vh;
    min-height: 420px;
    min-width: 350px;
    max-width: 500px;
    padding: 15px;
    margin-top: 5%;
}

h1{
    font-size: 2rem;
    color: #8c7ae6;
    margin-bottom: 10px;
    text-align: center;
}

form{
    display: flex;
    flex: 1;
    padding: 0;
    margin-bottom: 5px;
}


input{
    font-family: 'Cabin', sans-serif;
    width: 100%;
    border: none;
    background-color: #fff;
    color: #8c7ae6;
    border: 2px solid;
    outline: none;
    font-size: 1rem;
}

button{
    cursor: pointer;
    border: none;
    font-size: 1rem;
    background-color: #fbc7d4;
    color: #FFF;
    padding: 5px;
}

button:active{
    transform: translateY(2px);
}

#tabs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
}

.tab{
    width:32%;
    background-image: linear-gradient(to right, #9796f0 0%, #D6A4A4  51%, #DAE2F8  100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
}

.tab:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
 

#done, #not-done{
    opacity: 0.5;
}

.add-task{
    border: 0;
    font-size:1rem;
    background-color: #8c7ae6;
}

.list-container{
    overflow: auto;
    height: 70%;
}

.task{
    display: flex;
    flex: 0;
    font-size: 1rem;
    background-color: #fbc7d4;
    color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: fit-content;
    padding: 3px;
    margin-bottom: 10px;
    /* adding task animation */
    animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: top center;
}

@keyframes show {
    100% {
      opacity: 1;
      transform: none;
    }
  }

.task:hover, button:hover{
    background-color: #f9bbcb;
    cursor: pointer;
}

.todo-text{
    width: 100%;
    margin-left: 10px;
}

.bottom-container{
    margin-top: 5px;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#pending{
    background-color: #8c7ae6;
    width: fit-content;
    margin-right: 5px;
    padding: 5px;
}

#clear-all{
    padding: 5px;
    background-color: #8c7ae6;
}

#clear-all:hover{
    background-color: red;
}

