html, body {
    margin: 0;
    height: 100%;
}


.background {
    position: relative;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 3px;
    width: 40%;
    height: 80%;
    background-color: white;
    padding: 0px 20px 0px 20px;
    position: relative;
}

    .main h1 {
        margin: 0;
    }

.add-task {
    align-items: center;
    justify-content: center;
    display: flex;
}

    .add-task input {
        padding: 0 0 0 3px;
        margin: 0 5px 0 0;
        height: 2em;
        width: 100%;
    }

    .add-task i {
        color: #fdcd3b;
        cursor: pointer;
    }

.tasks {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 60%;
    overflow: auto;
    margin: 5px 0 5px 0;
}

.task {
    background-color: whitesmoke;
    margin: 5px;
    padding: 0.5em;
    border-radius: 3px;
    /*transition: box-shadow .3s;*/
    transition: all 0.2s linear 0s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .task i {
        display: none;
        color: red;
        cursor: pointer;
        float: right;
        padding: 0.5em;
        right: 50px;
    }
    .task:hover i {
        display: inline;

    }



    .task h3 {
        margin: 5px;
        display: inline;
        overflow-wrap: break-word;
        width: 80%;
        float: left;
    }

    .task:hover {
        box-shadow: 0 4px 4px rgba(33,33,33,.2);
    }

.footer {
    position: relative;
    bottom: 0;
    margin: 0 0 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text {
}

.clear-all-btn {
    border: none;
    padding: 5px 15px;
    background-color: #fdcd3b;
    border-radius: 4px;
}

