
  .wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4d4d4d;
    
}



.todoApp {
    background-color: rgb(131, 0, 218);
    width: 600px;
    padding: 50px;
    border-radius: 5px;
    max-height: 500px;
   
  }
  .todoApp h1 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #ffffff;
    place-items: center;
    display: grid;
  }