.task-container {
    display: flex;
    position: relative;
    padding-bottom: 5px;
}

.task-trash-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.task-checkbox {
    margin-right: 10px;
}

.task-task-name {
    font-weight: 300;
    font-size: 20px;
}