.list-item-delete-button {
    margin-left: auto;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
}

.list-item-delete-button:hover {
    background-color: #f0f0f5;
    transition: background-color 0.2s ease-in-out;
}