.main {
  display: flex;
  background-color: white;
  text-align: center;
  height: inherit;
  width: 50%;
  height: 90%;
  margin: auto;
  border: solid;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
}
.top_app {
  display: flex;
  flex-direction: column;
  height: 90%;
  padding: 0 3em;
}
.bottom_app {
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
}

.app_title {
  margin: 15px;
}

.add_task_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_task_btn {
  padding: 5px;
  margin: 0 5px;
}

.add_task_field {
  padding: 5px;
  width: 50%;
}

.footer {
  margin: 10px;
}

.filters_task_div {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.delete_all_button {
  background-color: #fdcd3b;
}

.search_filter_wrapper{
  width: auto;
}