.new-task-container {
	position: relative;
	display: flex;
	justify-content: row;
	align-items: center;
	margin-bottom: 20px;
	height: 40px;
}

.task-input {
	width: 85%;
	height: 50px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 700;
	margin-right: 4px;
	background-color: rgba(127, 255, 212, 0.597);
	padding-left: 1rem;
}

.task-small-input {
	width: 65%;
	height: 30px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	margin-right: 4px;
	background-color: rgba(127, 255, 212, 0.597);
	padding-left: 1rem;
}
