#add-todo {
  display: flex;
}

#new-todo-title:focus {
  border: 2px solid var(--very-dark-green);
  border-radius: 4px;
  outline: none;
}

#new-todo-title {
  padding: 5px 10px;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  width: 415px;
}

#all-todos-list {
  font-family: 'Caveat', cursive;
  padding-left: 0px;
  border-radius: 4px;
}

.todo-li {
  list-style-type: none;
  background-color: rgba(128, 128, 128, 0.2);
  margin-top: 10px;
  border-radius: 4px;
  display: flex;
}

.todo-li:hover {
  background-color: rgba(128, 128, 128, 0.4);
  cursor: pointer;
}

#footer {
  font-family: 'Indie Flower', cursive;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
}

#amount-info {
  margin: auto;
}

#footer p {
  margin: 0;
  /* padding-left: 5px; */
  width: 230px;
  padding: auto;
  text-align: center;
}

#zero-todos-image {
  margin-top: 5px;
  margin-left: 5px;
}
