.list-controls {
    padding: 0px 32px;
    background-color: white;
    display: flex;
    align-items: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.list-controls #list-item-input {
    width: 85%;
    height: 30px;
    font-size: 16px;
    padding-left: 8px;
}

.list-controls #list-item-submit {
    color: white;
    background-color: #6c6cff;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    height: 35px;
    width: 35px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
}

.list-controls #list-item-submit:hover {
    background-color: #3c3cff;
    transition: background-color 0.2s ease-in-out;
}